<!DOCTYPE html>
<html>
<head>
   <title>爱生活，爱旅行</title>
   <meta charset="utf-8">
   <link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet">
   <script src="/scripts/jquery.min.js"></script>
   <script src="/bootstrap/js/bootstrap.min.js"></script>
</head>
<body>

<div style="padding: 100px 100px 10px;">
   <form class="bs-example bs-example-form" role="form" action="/intro/handle_form/" method="get">
      <div class="row">
        <div class="col-lg-6">
            <div class="input-group">
               <input type="text" name="title"> 
               <span class="input-group-btn">
                  <button class="btn btn-default" type="submit" value="Submit">
                     Go!
                  </button>
               </span>
            </div><!-- /input-group -->
         </div><!-- /.col-lg-6 -->
      </div><!-- /.row -->
   </form>
</div>


</body>
</html>
